/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

/* CONTAINER CENTRAL */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

/* HEADER / BANNER */
header {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
}





/* MENU */

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* SEÇÕES */
section {
    background-color: white;
    margin: 20px 0;
    padding: 25px;
    border-radius: 8px;
}

/* TÍTULOS */
h1, h2 {
    margin-bottom: 15px;
    color: #2e8b57;
}

/* FORMULÁRIO */
input, textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    background-color: #2e8b57;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #256b45;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: #2e8b57;
    color: white;
    padding: 15px;
    margin-top: 20px;
}
/* HEADER / BANNER */
.banner {
    position: relative;
    text-align: center;
    background-color: #ffffff;
}

.banner img {
    width: 100%;
    height: auto;
    max-height: 550px;
    display: block;
}




.menu {
    position: absolute;
    bottom: 40px; /* antes era 100 */
    left: 50%;
    transform: translateX(-50%);
}


.menu ul {
    list-style: none;
}

.menu li {
    display: inline-block;
    margin: 0 15px;
}

.menu a {
    color: #f58220;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}


.menu a:hover {
    color: #ffcc00;
}
